In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the file
df = pd.read_csv("glass.csv")
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [3]:
# no of rows and columns in dataset
df.shape

(214, 10)

In [4]:
# columns in dataset
df.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [5]:
#inital  records of dataset
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [6]:
# we only need label for one particular ouput type 1 all other are labelled same
df["y"] = (df["Type"] == 1).astype(int)
df = df.drop(["Type"], axis = 1)

In [7]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  y
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0  1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0  1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0  1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0  1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0  1
..       ...    ...   ...   ...    ...   ...   ...   ...  ... ..
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0  0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0  0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0  0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0  0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0  0

[214 rows x 10 columns]

In [8]:
# we define the columns which needs to be trained and the ones which will be output
x = df.drop(["y"], axis = 1).values
y = df["y"].values

In [9]:
# split data into train and test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [10]:
# scaling data 
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [11]:
# definig activation fn to get probability

import numpy as np

def sigmoid(x):
    return 1 / 1 + np.exp(-x)

In [12]:
# predicting prob of a record to belong to class 1

def predict_prob(x, w, b):
    z = x@w + b
    p = sigmoid(z)
    return p

In [13]:
# error from real value

def loss():
    return -np.mean(y*np.log(p) + (1-y)*np.log(1-p))

In [14]:
#update weights for better result

def update_weights(x, w, b, lr, y):
    p = predict_prob(x, w, b)
    error = p - y

    w = w - lr*(x.T @ error) / len(y)
    b = b - lr*np.mean(error)

    return w, b

In [15]:
w = np.zeros(x_train.shape[1])
lr = 0.1
b = 0
epochs = 100

for _ in range(epochs):
    w, b = update_weights(x, w, b, lr, y)

C:\Users\saksh\AppData\Local\Temp\ipykernel_21892\575402023.py:6: RuntimeWarning: overflow encountered in exp
  return 1 / 1 + np.exp(-x)
C:\Users\saksh\AppData\Local\Temp\ipykernel_21892\3726175575.py:7: RuntimeWarning: invalid value encountered in matmul
  w = w - lr*(x.T @ error) / len(y)

In [16]:

def predict_label(p, threshold):
    return (p>=threshold).astype(int)

1. How does this differ from perceptron?

Perceptron outputs 0 or 1 (hard decision)
Logistic regression outputs probability between 0 and 1 (soft decision)
Perceptron uses step function, logistic uses sigmoid

2. Why does sigmoid matter?

Provides confidence level, not just yes/no
Differentiable, so we can use gradient descent
Preserves information about uncertainty

3. What problem still remains unsolved?

Non-linear decision boundaries (XOR problem)
Multi-class classification (need extensions)
Feature interactions not captured